<footer class="page-section bg-gray-lighter footer pb-100 pb-sm-50">
    <div class="container">

        <!-- Social Links -->
        <div class="footer-social-links mb-90 mb-xs-40">
            <a href="{{ siteSettings.FACEBOOK }}" title="Facebook" target="_blank"><i class="fab fa-facebook-f"></i> <span class="sr-only">Facebook</span></a>
            <a href="{{ siteSettings.INSTAGRAM }}" title="Instagram" target="_blank"><i class="fab fa-instagram"></i> <span class="sr-only">Instagram</span></a>
            <a href="{{ siteSettings.YOUTUBE }}" title="Youtube" target="_blank"><i class="fab fa-youtube"></i> <span class="sr-only">Youtube</span></a>
        </div>
        <!-- End Social Links -->

        <!-- Footer Text -->
        <div class="footer-text">

            <!-- Copyright -->
            <div class="footer-copy">
                <p>© {{ 'now' | date('Y') }} {{ 'all_rights' | trans }}</p>
            </div>
            <!-- End Copyright -->

            <div class="footer-made">
                Jelena Kilibarda
            </div>

        </div>
        <!-- End Footer Text -->

    </div>

    <!-- Top Link -->
    <div class="local-scroll">
        <a href="#top" class="link-to-top"><i class="link-to-top-icon"></i></a>
    </div>
    <!-- End Top Link -->

</footer>
